/* YUI reset styles */ body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,blockquote,th,td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal;
}
ol,ul {
  list-style: none;
}
caption,th {
  text-align: left;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,q:after {
  content: '';
}
abbr,acronym {
  border: 0;
}

p {
	font-size: 13px;
}
#title p {
	font-size: 16px;
}

/* end YUI reset styles*/

a {
  text-decoration: none;
  border-bottom: solid 1px #333;
  color: #333;
}
a:hover {
  color: #999;
}
a:visited {
  color: #999;
}

#headNav {
  top: -30px;
  right: 0;
  z-index: 5;
  position: absolute;
}
#headNav li {
  float: left;
  margin-left: 20px;
}

#container {
  position: relative;
  width: 960px;
  margin: auto;
}

#title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
#title h1 {
  font-size: 80px;
  margin-bottom: -30px;
  margin-top: 50px;
}

.toplevel {
  width: 200px;
  text-align: justify;
  top: 120px;
}
.toplevel span {
  font-size: 60px;
  position: relative;
  top: 11px;
  left: -3px;
}

#low {
  float: left;
  width: 208px;
}
#mid {
  position: relative;
  top: 0;
  margin: auto;
  width: 222px;
}
#high {
  float: right;
}

#services li {
	font-size: 13px;
	margin-left: 20px;
}
